---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import constatns from '../constants/home.json';
import { Image } from 'astro:assets';
const social_keys = Object.keys(constatns.social) as Array<
  keyof typeof constatns.social
>;
---

<Layout title={constatns.title} description={constatns.description}>
  <main class="container min-h-[85dvh] flex items-center justify-center">
    <div class="flex items-center justify-between gap-[2rem] w-full">
      <div>
        <h1 class="text-[2.5rem] font-semibold">Asadulloh Sadirdinov</h1>
        <p class="text-[1.75rem] text-gray-500">Software Engineer</p>
        <div class="flex items-center gap-[1rem] mt-[1rem]">
          {
            social_keys.map((elem) => (
              <a href={constatns.social[elem]} target="_blank" aria-label={elem}>
                <Icon name={elem} width={30} height={30} />
              </a>
            ))
          }
        </div>
        <p class="mt-[2rem] text-[1.2rem] text-gray-700 max-w-[70%]">
          I'm an educator, content creator and engineer. I work remotely and
          sometimes I create open source projects for developers.
        </p>
      </div>
      <Image
        src="/images/asadulloh.jpeg"
        alt="My image"
        width="224"
        height="224"
        class="rounded-full w-[224px] h-[224px]"
      />
    </div>
  </main>
</Layout>
