---
import Header from '../components/template/Header.astro';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="Asadulloh, Sadirdinov, Software, Engineer, Tashkent, Uzbekistan, Senior, Frontend, Developer, Blog, asadulloh.uz, asadullohpro, asadulloh.pro "
    />
    <meta property="og:url" content="asadulloh.uz" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Asadulloh Pro" />
    <meta property="og:image" content="/logo_dark.png" />
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="100" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/logo_dark.png" />
    <meta itemprop="image" content="/logo_dark.png" />
    <link rel="icon" href="/16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon-precomposed" href="/16x16.png" sizes="16x16" />
    <link rel="shortcut icon" href="/16x16.png" sizes="16x16" />
    <link rel="icon" href="/32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/32x32.png" sizes="32x32" />
    <link rel="apple-touch-icon-precomposed" href="/32x32.png" sizes="32x32" />
    <link rel="shortcut icon" href="/32x32.png" sizes="32x32" />
    <link rel="icon" href="/144x144.png" sizes="144x144" />
    <link rel="apple-touch-icon" href="/144x144.png" sizes="144x144" />
    <link
      rel="apple-touch-icon-precomposed"
      href="/144x144.png"
      sizes="144x144"
    />
    <link rel="shortcut icon" href="/144x144.png" sizes="144x144" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <footer class="text-center text-[#595959]">
      <span>© 2024 asadulloh.uz</span>
    </footer>
  </body>
</html>
<style is:global>
  .truncate-1-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }

  .truncate-2-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }


</style>
